<section class="easysteps">
  <div class="conteiner">
    <div class="easysteps-conteiner">
      <h2 class="easysteps-title">3 Easy Steps for Buying Fresh Vegetables</h2>

      <ol class="easysteps-list">
        <li>
          <div class="easysteps-marker"></div>
          <span>
            Just choose the vegetable yowanto order by clicking on the
            checkboxes next to it.
          </span>
        </li>
        <li>
          <div class="easysteps-marker"></div>
          <span>
            Just choose the vegetable yowanto order by clicking on the
            checkboxes next to it.
          </span>
        </li>
        <li>
          <div class="easysteps-marker"></div>
          <span>
            Just choose the vegetable yowanto order by clicking on the
            checkboxes next to it.
          </span>
        </li>
      </ol>
    </div>
  </div>
  <div class="easysteps-conteiner-mini">
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="./img/how-tab-2-1x.png 1x, ./img/how-tab-2-2x.png 2x"
      />
      <source
        srcset="./img/how-tab-2-1x.png 1x, ./img/how-tab-2-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/how-tab-2-1x.png 1x, ./img/how-tab-2-2x.png 2x"
        media="(max-width: 767px)"
      />
      <img src="./img/how-tab-2-1x.png 1x" />
    </picture>
  </div>
</section>
