<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./styles/styles.css" />

    <title></title>
  </head>

  <section class="easysteps">
    <div class="conteiner">
      <div class="easysteps-conteiner">
        <h2 class="easysteps-title">
          3 Easy Steps for Buying Fresh Vegetables
        </h2>

        <ol class="easysteps-list">
          <li>
            <svg class="easysteps-icon" width="40" height="38">
              <use href="./images2/sprite.svg#icon-СTA1"></use>
            </svg>
            <span
              >Just choose the vegetable yowanto order by clicking on the
              checkboxes next to it.
            </span>
          </li>
        </ol>
      </div>
    </div>
    <div class="easysteps-conteiner-mini">
      <picture>
        <source
          media="(min-width:1440px)"
          srcset="./img/how-tab-1-1x.png 1x, ./img/how-tab-2-1x.png 2x"
        />
        <source
          srcset="./img/how-tab-1-1x.png 1x, ./img/how-tab-2-1x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/how-tab-1-1x.png 1x, ./img/how-tab-2-1x.png 2x"
          media="(max-width: 767px)"
        />
        <img src="./img/how-tab-1-1x.png" />
      </picture>
    </div>
  </section>
</html>
