<footer class="footer-section" id="footer">
    <div class="footer-container">
        <div class="footer-container-logo">
            <div>
                <img class="footer-img" srcset="./img/footer-mob-1-2x.png 2x" src="./img/footer-mob-1-1x.png" alt="">
                <a class="footer-link-img" href="">
                    <svg width="16" height="16">
                        <use href="./img/icons.svg#icon-logo"></use>
                    </svg>
                    <span class="footer-logo">
                        veggieboost
                    </span>
                </a>
            </div>
            <div>
                <ul class="footer-list-nav">
                    <li>
                        <a class="footer-link-nav" href="#how-it-works">How It Works</a>
                    </li>
                    <li>
                        <a class="footer-link-nav" href="#organic-vegetables">Vegetables</a>
                    </li>
                    <li>
                        <a class="footer-link-nav" href="#footer">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-container-icon">
            <ul class="footer-list-icon">
                <li>
                    <a class="footer-link-icon" href="">
                        <svg class="footer-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer-link-icon" href="">
                        <svg class="footer-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-insta"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer-link-icon" href="">
                        <svg class="footer-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <address>

                <ul class="footer-list-contact">
                    <li class="footer-item-namer">
                        <a href="tel:+380684439426" class="footer-namber">+380 (68) 443-94-26</a>
                    </li>
                    <li class="footer-item-addres">
                        <a href="https://goo.gl/maps/kK7XscYirYSMWyyq5" class="footer-addres">1678 S. Pioneer Road Salt Lake City UT 84104</a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</footer>