<header>
  <div class="header-container">
    <nav class="header-menu">
      <ul class="menu-list list">
        <li>
          <a href="#how-it-works" class="menu-list-link link">How It Works</a>
        </li>
        <li>
          <a href="#organic-vegetables" class="menu-list-link link"
            >Vegetables</a
          >
        </li>
        <li>
          <a href="#footer" class="menu-list-link link">Contacts</a>
        </li>
      </ul>

      <a href="./index.html" class="logo link">
        <span>
          <svg class="logo-icon" width="16" height="16">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </span>
        Veggieboost
      </a>
    </nav>
    <button type="button" class="header-menu-order" data-modal-open1>
      <svg width="20" height="20">
        <use href="/img/icons.svg#icon-shoppcart"></use>
      </svg>
    </button>

    <button
      type="button"
      class="header-open-button js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="24" height="24">
        <use href="/img/icons.svg#icon-openmob"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu js-menu-container" id="mobile-menu">
    <div class="header-container">
      <a href="./index.html" class="logo link">
        <span>
          <svg class="logo-icon" width="16" height="16">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </span>
        Veggieboost
      </a>

      <button type="button" class="mobile-menu-close js-close-menu">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-menu-list list">
      <li>
        <a href="#how-it-works" class="mobile-menu-list-link link"
          >How It Works</a
        >
      </li>
      <li>
        <a href="#organic-vegetables" class="mobile-menu-list-link link"
          >Vegetables</a
        >
      </li>
      <li>
        <a href="#footer" class="mobile-menu-list-link link">Contacts</a>
      </li>
      <li>
        <button type="button" class="mobile-menu-order" data-modal-open>
          <svg width="20" height="20">
            <use href="/img/icons.svg#icon-shoppcart"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
