<section class="hero">
    <div class="container-hero">
        <div class="avatar-hero-wrap">
            <ul class="avatar-list list">
                <li class="item-avatar">
                    <div class="div-circle-avatar">
                        <!-- FIRST_AVATAR -->
                        <picture class="avatars">
                            <source srcset="./img/block-des-1-1x.jpg 1x, 
                                ./img/block-des-1-2x.jpg 2x" media="(min-width: 1280px)">
                            <source srcset="./img/block-tab-1-1x.jpg 1x,
                                ./img/block-tab-1-2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="./img/block-mob-1-1x.jpg 1x, 
                                ./img/block-mob-1-2x.jpg 2x" media="(min-width: 320px)">
                            <img class="avatars" src="./img/block-mob-1-1x.jpg" alt="girl" width="40" height="40">
                        </picture>
                    </div>
                </li>
                <!-- SECOND_AVATAR -->
                <li class="item-avatar">
                    <div class="div-circle-avatar">
                        <picture class="avatars">
                            <source srcset="./img/block-des-2-1x.jpg 1x, 
                            ./img/block-des-2-2x.jpg 2x" media="(min-width: 1280px)">
                            <source srcset="./img/block-tab-2-1x.jpg 1x,
                            ./img/block-tab-2-1x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="./img/block-mob-2-1x.jpg 1x, 
                            ./img/block-mob-2-2x.jpg 2x" media="(min-width: 320px)">
                            <img class="avatars" src="./img/block-mob-2-1x.jpg" alt="boy" width="40" height="40">
                        </picture>
                    </div>
                </li>
                <!-- THIRD_AVATAR -->
                <li class="item-avatar">
                    <div class="div-circle-avatar">
                        <picture class="">
                            <source srcset="./img/block-des-3-1x.jpg 1x, 
                                ./img/block-des-3-1x.jpg 2x" media="(min-width: 1280px)">
                            <source srcset="./img/block-tab-3-1x.jpg 1x,
                                ./img/block-tab-3-2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="./img/block-mob-3-1x.jpg 1x, 
                                ./img/block-mob-3-2x.jpg 2x" media="(min-width: 320px)">
                            <img class="avatars" src="./img/block-mob-3-1x.jpg" alt="girl" width="40" height="40">
                        </picture>
                    </div>
                </li>
                <li class="item-avatar">
                    <div class="div-circle-avatar">
                        <h1 class="reviws-title">2k</h1>
                        <p class="reviws-text">reviews</p>
                    </div>
                </li>
            </ul>
            <!-- HERO_MAIN_TEXT_BTN -->
            <h1 class="hero-title">
                organic <span class="span-italic">vegetables</span> to your diet today!
            </h1>
            <p class="hero-subheading">Our expertly curated vegetable baskets are made with the freshest, highest
                quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in
                expertly curated vegetable baskets delivered to you.</p>
            <button type="button" class="btn-shop-now" data-modal-open2>
                shop <br>now</button>
        </div>

        <!-- HERO_CONTANT_IMG -->
        <div class="div-content">
            <div class="wrap-content-img">
                <picture>
                    <source srcset="./img/hero-des-1-1x-min.png 1x, 
                            ./img/hero-des-1-2x-min.png 2x" media="(min-width: 1280px)">
                    <source srcset="./img/hero-tab-1-1x-min.png 1x,
                            ./img/hero-tab-1-2x-min.png 2x" media="(min-width: 768px)">
                    <source srcset="./img/hero-mob-1-1x-min.png 1x, 
                            ./img/hero-mob-1-2x-min.png 2x" media="(max-width: 767px)">
                    <img class="girl-img" src="./img/hero-mob-1-1x-min.png" alt="girl-in-circle" width="278"
                        height="228">
                </picture>
            </div>
            <!-- SECTION_MAIN_HASHTAGS -->
            <div class="hashteg-div">
                <ul class="hero-teg-list list">
                    <li class="hero-teg-item ">
                        <button type="button" class="hero-teg-btn current">#organic</button>
                    </li>
                    <li class="hero-teg-item">
                        <button type="button" class="hero-teg-btn">#products</button>
                    </li>
                    <li class="hero-teg-item">
                        <button type="button" class="hero-teg-btn">#basket</button>
                    </li>
                    <li class="hero-teg-item">
                        <button type="button" class="hero-teg-btn">#vegetables</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>