<section class="organic-vegetables">
    <div class="container-veg">
        <h2 id="organic-vegetables" class="second-title-vegetables">Organic vegetables</h2>
        <p class="paragraph-vegetables">Our organic vegetables are hand-picked from local farms and delivered straight
            to your doorstep, ensuring that you get the freshest and most nutritious produce possible. </p>
        <ul class="vegetables-list">
            <li class="vegetables-cards-items">
                <h3 class="card-title">Carrot</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg1-mob-1x.png 1x,
            ./img/veg1-mob-2x.png 2x" src="./img/veg1-mob-1x.png" alt="carrot" width="292" height="223" />
                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
           ./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />

                <p class="cards-price">100 UAH / kg</p>
            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Brussel sprouts</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg2-mob-1x.png 1x,
            ./img/veg2-mob-2x.png 2x" src="./img/veg2-mob-1x.png" alt="Brussel sprouts" width="216" height="216" />
                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
           ./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">80 UAH / kg</p>

            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Tomato</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg3-mob-1x.png 1x,
            ./img/veg3-mob-2x.png 2x" src="./img/veg3-mob-1x.png" alt="Tomato" width="278" height="176" />

                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">40 UAH / kg</p>
            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Eggplant</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg4-mob-1x.png 1x,
            ./img/veg4-mob-2x.png 2x" src="./img/veg4-mob-1x.png" alt="Eggplant" width="194" height="193" />

                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">60 UAH / kg</p>
            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Sweet potatoes</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg5-mob-1x.png 1x,
            ./img/veg5-mob-2x.png 2x" src="./img/veg5-mob-1x.png" alt="Sweet potatoes" width="294" height="189" />

                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">80 UAH / kg</p>
            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Leek</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg6-mob-1x.png 1x,
            ./img/veg6-mob-2x.png 2x" src="./img/veg6-mob-1x.png" alt="Leek" width="184" height="198" />

                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">50 UAH / kg</p>
            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Mushrooms</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg7-mob-1x.png 1x,
            ./img/veg7-mob-2x.png 2x" src="./img/veg7-mob-1x.png" alt="Mushrooms" width="325" height="183" />

                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">40 UAH / kg</p>
            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Corn</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg8-mob-1x.png 1x,
            ./img/veg8-mob-2x.png 2x" src="./img/veg8-mob-1x.png" alt="Corn" width="265" height="203" />

                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">60 UAH / kg</p>
            </li>
            <li class="vegetables-cards-items">
                <h3 class="card-title">Radish</h3>
                <p class="card-paragraph">Plant</p>
                <img class="img-card" srcset="./img/veg9-tab-desk-1x.png 1x,
            /img/veg9-tab-desk-2x.png 2x" src="/img/veg9-tab-desk-1x.png" alt="Radish" width="316" height="181" />

                <img class="img-card-shadow" src="./img/shadow-1x.png" srcset="./img/shadow-1x.png 1x,
./img/shadow-2x.png 2x" alt="shadow" width="195" height="38" />
                <p class="cards-price">90 UAH / kg</p>
            </li>
        </ul>
        <button type="button" class="order-button">order
            <svg class="svg-btn-order" width="14" height="14">
                <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</section>