<section class="we-will-call-you">
  <div class="section-form-title">
    <div class="text-part">
      <h2 class="title-text">Fresh Harvest Box has got you covered</h2>
      <p class="paragraph-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <form class="form-recall">
      <label class="input-recall"></label>
      <div class="input-button">
        <input
          name="recall"
          type="tel"
          placeholder="+380 ()"
          class="recall"
          pattern="^\+380\d{9}$"
          required
        />

        <button class="button-recall" type="submit">Recall</button>
      </div>
    </form>
  </div>

  <div class="positione-img">
    <picture class="img-women-positione">
      <source
        media="(max-width: 1280px)"
        srcset="./img/call-des-1-1x.png 1x, ./img/call-des-1-2x.png 2x"
      />
      <source
        media="(min-width: 1280px)"
        srcset="./img/call-des-1-1x.png 1x, ./img/call-des-1-2x.png 2x"
      />
      <source
        srcset="./img/call-tab-1-1x.png 1x, ./img/call-tab-1-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/call-tab-1-1x.png 1x, ./img/call-tab-1-2x.png 2x"
        media="(max-width: 767px)"
      />
      <img src="./img/call-tab-1-1x.png" alt="girl-vegetables" />
    </picture>
  </div>
</section>
