.easysteps-conteiner {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 380px) {
  .easysteps-conteiner {
    width: 380px;
  }
}
@media screen and (min-width: 768px) {
  .easysteps-conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .easysteps-conteiner {
    width: 1280px;
  }
}
/*================= M O B A I L ====================*/

.easysteps {
  position: relative;
  display: flex;
  background-color: #faf3e7;
  background-image: radial-gradient(#a1c487 1px, transparent 1px),
    radial-gradient(#a1c487 1px, transparent 1px);
  background-position: 0 0;
  background-size: 5.03px 5.03px;
  padding-top: 40px;
  padding-bottom: 0px;
}
.easysteps {
  flex-direction: column;
}

.easysteps-title {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
}
.easysteps-list {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;
}

.easysteps-list li {
  position: relative;
  counter-increment: item;
  margin-bottom: 20px;
  padding-left: 50px;
}

.easysteps-list li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 38px;
  line-height: 38px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 50%;
  background-color: #a1c487;
  color: #141414;
  font-weight: bold;
  margin-right: 30px;
}
.easysteps-list li span {
  display: inline;
}
.easysteps-list li .easysteps-marker {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 38px;
  border-radius: 50%;
}

.easysteps-list li .easysteps-marker::before {
  content: counter(item);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.easysteps-list li span {
  display: inline;
  vertical-align: top;
}

@media screen and (min-width: 380px) {
  ol li::before {
    width: 50px;
    height: 48px;
    line-height: 48px;
  }
}

@media screen and (min-width: 380px) {
  .container {
    max-width: 380px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .easysteps-conteiner-mini {
    text-align: center;
  }
}
/*================TABLET====================*/
@media screen and (min-width: 768px) {
  .easysteps-conteiner {
  }
}
