.footer {
    background-color: var(--second-background-color);
}

.footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-container-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.footer-img {
    margin-bottom: 20px;
}

.footer-link-img {
    margin-bottom: 40px;
    border-radius: 100px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}


/* ______________________Navigation________________________ */



.footer-list-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.footer-link-nav {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
}

/* ______________________Social Networks________________________ */

.footer-list-icon {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}


.footer-link-icon {
    justify-content: center;
    align-content: center;
    max-height: 40px;
    max-width: 40px;
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--main-text-color);

}

.footer-icon {
    fill: var(--main-text-color);
}

/* ______________________Contact________________________ */

.footer-list-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.footer-item-namer {
    min-width: 143px;
}

.footer-item-addres {
    max-width: 135px;
}

.footer-namber {
    font-style: normal;
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    justify-content: center;
}

.footer-addres {
    display: flex;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}


@media screen and (min-width: 375px) {}

@media screen and (min-width: 768px) {


    .footer-container {
        margin: auto;
        width: 704px;
        display: flex;
        justify-content: space-between;
    }

    .footer-container-logo {
        margin: 0;
    }

    .footer-img {
        width: 349px;
        height: 179px;
    }

    /* ______________________Contact________________________ */

    .footer-list-contact {
        align-items: flex-start;
    }

    .footer-namber {
        /* min-width: 184px; */
        font-size: 18px;
        line-height: 24px;
    }

    .footer-addres {
        text-align: start;
        width: 173px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.36px;
    }

    .footer-container-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        width: 1106px;
        justify-content: start;
        gap: 166px;
        margin: 0;
    }

    .footer-container-logo {
        flex-direction: row;
        gap: 166px;
    }

    .footer-icon {
        min-width: 28px;
        min-height: 28px;
    }

    .footer-link-icon {
        min-width: 44px;
        min-height: 44px;
    }
}